* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

@mixin animation($animation, $duration, $itercount, $timing-function) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-iteration-count: $itercount;
  animation-timing-function: $timing-function;
}

.record-table {
  border: 0.1vw solid #ceced1;
  padding: 0;
  border-radius: 0.4vw;
  overflow: auto;
  white-space: nowrap;
  max-height: 30vw;
}

.record-table::-webkit-scrollbar {
  height: 0.4vw;
  width: 0.4vw;
}
.record-table::-webkit-scrollbar-thumb {
  background-color: #ceced1;
}

.record-table-row {
  width: auto;
}

.record-table-column {
  display: table-cell;
  min-width: 15vw;
  text-align: left;
  border: 1px solid black;
  white-space: normal;
  height: 3vw;
  padding: 0 1vw;
}

.record-table-header-col {
  vertical-align: middle;
  border: none;
  border-left: 0.1vw solid #ceced1;
  background: #e8e8f7;
}

#keyToggle {
  width: 96px;
  height: 29px;
  cursor: pointer;
  position: relative;
  left: 83%;
}

.Suggestion-box {
  height: 30vh;
  overflow-y: scroll;
}

.header-suggestion {
  position: relative;
  left: 85%;
  width: 96px;
  padding: 2px;
}

.header-suggestion:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.record-table-header-col:first-of-type {
  border-top-left-radius: 0.4vw;
  border: none;
}
.record-table-header-col:last-of-type {
  border-top-right-radius: 0.4vw;
}

.suggestion {
  position: absolute;
  right: 0.5%;
  top: 0.5%;
  z-index: 6;
}

.suggestion-lock {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #efeeee;
  box-shadow: 0.108vw 0.108vw 0.27vw #b8b9be inset,
    -0.162vw -0.162vw 0.378vw #fff inset;
  cursor: pointer;

  svg {
    width: 1.3vw;
    height: 1.3vw;
    color: #8f97a6;
  }
}

.suggestion-list {
  position: absolute;
  z-index: 6;
  top: 120%;
  right: 0;
  width: 15vw;
  border-radius: 0.4vw;
  background: #fff;
  box-shadow: 0.162vw -0.162vw 0.378vw #b8b9be;
  display: block;
  float: left;
  height: 25vw;
  overflow: scroll;
}

.suggestion-list::-webkit-scrollbar {
  width: 0.3vw;
}
.suggestion-list::-webkit-scrollbar-thumb {
  background-color: #615dc6;
}

.suggestion-label {
  label {
    cursor: pointer;

    .custom-check {
      width: 1.2vw;
      height: 1.2vw;
      border: 0.15vw solid #e8e8f7;
      background: #fff;
      border-radius: 0.2vw;

      svg {
        display: none;
        width: 0.8vw;
        height: 0.8vw;
      }
    }
  }

  [type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  [type="checkbox"]:checked + label {
    .custom-check {
      background: #615dc6;
      border: 0.15vw solid #615dc6;
      svg {
        display: block;
      }
    }
  }
}

.suggestion-label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.pagination {
  .arrow {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    box-shadow: 0.108vw 0.108vw 0.27vw #b8b9be inset,
      -0.162vw -0.162vw 0.378vw #fff inset;
    cursor: pointer;

    svg {
      width: 0.9vw;
      height: 0.9vw;
    }
  }

  input {
    width: 3vw;
    outline: none !important;
    border-radius: 0.2vw;
    border: 0.1vw solid #ceced1;
    margin: 0 1vw;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .page {
    width: 2vw;
    height: 2vw;
    margin: 0 0.1vw;
  }

  .arrow:hover {
    transform: scale(1.1);
  }

  .active {
    background: #615dc6;
    color: #fff;
    box-shadow: none;
  }
}

.slider {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  border-bottom-left-radius: 0.4vw;
  border-top-left-radius: 0.4vw;
  background-color: #fff;
  border: 0.1vw solid #ceced1;
  width: 1vw;
}

.slider-toggler {
  width: 1.5vw;
  height: 1.3vw;
  border-bottom-right-radius: 2vw;
  border-top-right-radius: 2vw;
  background-color: #fff;
  position: absolute;
  right: -0.8vw;
  top: 0;
  padding: 0.1vw 0.1vw 0.1vw 0;
  cursor: pointer;
  align-items: flex-end;
  border-right: 0.1vw solid #ceced1;

  div {
    width: 0.7vw;
    height: 0.7vw;
    background-color: #615dc6;
    color: #fff;
    padding: 0.5vw;
    border-radius: 50%;
    svg {
      width: 0.5vw;
      height: 0.5vw;
    }
  }
}

.slider-col {
  padding: 0 1vw;
  height: 3vw;

  input {
    width: 2vw;
    height: 2vw;
  }
}


// .input-container{
//   width: 250px;
//   height: 30px;
//   /* border-radius: 10px; */
//   display: flex;
//     // background-color: red;
// }

.error-icon{
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgba(29, 33, 47, 0.472);
  border-radius: 50%;
  svg{
    width: 1.2vw;
    height: 1.2vw;
    color: rgb(243, 17, 17);
  }
}

.input-background {
  width: 100%;
  height: 34px;
  // background-color: red;
  border-radius: 10px;
  // display: -webkit-inline-box;
    // display: flex;
}

.input-field{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.exclamation{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  position: relative;
  // left: 103%;
  // top: -30px;
}

.input-box{
  height: 30px;
  width: 100%;
  // border-bottom-left-radius: 7px;
  // box-shadow: 0px 4px 1px red;
  // border-bottom-right-radius: 7px;
}

.error-msg{
  position: relative;
    top: 6px;
    color: red;
}

.input-checkbox{
  margin-right: 3%;
}

.checkbox-container{
  // border: 1px solid;
  height: 30px;
  width: 230px;
  display: flex;
  align-items: center;
}

.modal-btn{
  width: 100px;
    height: 30px;
}

.close-modal-btn{
  height: 20px;
    width: 46px;
}

.Modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 5px;
  z-index: 1000;
}